<footer class="text-white text-center text-lg-start bg-dark custom-footer">
  <div class="container p-2">
    <div class="row mt-2">

      <div class="row">
        <div class="col-lg-3 col-md-6 col-6 mb-4 mb-md-0">
          <h6 class="text-uppercase">Telf y Fax</h6>

          <ul class="list-unstyled mb-0">
            <li>
              <span class="text-white">986 570 229</span>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-6 mb-4 mb-md-0">
          <h6 class="text-uppercase">Móvil</h6>

          <ul class="list-unstyled mb-0">
            <li>
              <span class="text-white">609 256 754</span>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-6 mb-4 mb-md-0">
          <h6 class="text-uppercase">Correo</h6>

          <ul class="list-unstyled mb-0">
            <li>
              <span class="text-white">aluguerdemaquinaria@gmail.com</span>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-6 mb-4 mb-md-0">
          <h6 class="text-uppercase">Dirección</h6>

          <ul class="list-unstyled mb-0">
            <li>
              <span class="text-white">Rosalía de Castro, 4. 36680 A Estrada</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0 mx-auto">
        <br>
        <table class="table text-white">
          <tbody class="fw-normal">
            <tr>
              <td>Lunes a Viernes:</td>
              <td>09:00h - 13:00h y 15:30h - 20:00h</td>
            </tr>
            <tr>
              <td>Sábados:</td>
              <td>10:00h - 13:00h</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: black">
    © 2023 Copyright
  </div>
</footer>