<div id="principal-div">
  <div class="custom-div">
    <h3 *ngIf="authService.isAuthenticated" class="text-capitalize">Bienvenido {{authService.userData}}!</h3>
    <br>
    <p>
      En Alquicuntis, nos enorgullece ser un apreciado negocio local en A Estrada, dedicado a brindar soluciones en
      maquinaria de construcción de obra. Como especialistas en venta y reparación, nuestro compromiso es ofrecerle un
      servicio excepcional y asesoramiento experto para ayudarle a encontrar la máquina perfecta que satisfaga sus
      necesidades.
    </p>
    <p>
      Explore nuestro catálogo de maquinaria disponible para la venta, y si busca una reparación, estamos aquí para
      ayudarle. Con solo unos pocos clics, podrá solicitar una reparación para la maquinaria que requiera atención
      experta.
    </p>
    <p>
      Si tiene alguna pregunta o necesita más información, encontrará todo lo que necesita un poco más abajo en nuestro
      sitio web. Desde detalles de contacto hasta horarios de atención, estamos a su disposición para brindarle respuestas
      y soluciones.
    </p>
    <p>
      ¡Gracias por considerarnos como su socio en maquinaria de construcción! <i class="bi bi-emoji-smile"></i>
    </p>
  </div>

  <app-footer></app-footer>
</div>